.advantages {
    padding: 80px 0 80px 0;
    &__title {
        font-family: Roboto;
        font-size: 30px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        color: $main_color;
    }
    &__list {
        margin-top: 44px;
        // display: flex;
        // justify-content: space-between;
        // align-items: space-between;
    }
    &__fl {
        display: flex;
    }
    &__wrapper {
        // width: 570px;
        // height: 355px;
        // display: flex;
        // justify-content: space-between;
        &_1 {
            // margin-right: -1px;
            margin-left: 5px;
            width: 570px;
            height: 355px;
            background: url('../img/advantages/1.jpg') center (center / cover) no-repeat;
        }
        &_2 {
            margin-left: -1px;
            width: 570px;
            height: 355px;
            background: url('../img/advantages/2.jpg') center (center / cover) no-repeat;
        }
        &_3 {
            // margin-right: -1px;
            margin-left: 5px;
            width: 570px;
            height: 355px;
            background: url('../img/advantages/3.jpg') center (center / cover) no-repeat;
        }
        &_4 {
            margin-left: -1px;
            width: 570px;
            max-height: 355px;
            background: url('../img/advantages/4.jpg') center (center / cover) no-repeat;
        }
        &_5 {
            // margin-right: -1px;
            margin-left: 5px;
            width: 570px;
            height: 355px;
            background: url('../img/advantages/5.jpg') center (center / cover) no-repeat;
        }
        &_6 {
            margin-left: -1px;
            width: 570px;
            height: 355px;
            background: url('../img/advantages/6.jpg') center (center / cover) no-repeat;
        }
    }
    &__text {
        padding-top: 130px;
        font-size: 23px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
}